body{
    background-image: url("proto/pexels-dreamypixel-552789.jpg");
    
}

.menu{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    
}

.input{
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 10% 12.5% 10% 12.5% ;
}

.form{
    display:flexbox;
    flex-direction: row;
    height:60%;
}